PORT=8000
NODE_ENV=development
DATABASE_URL="postgresql://username:password@ep-host.aws.neon.tech/dbname?sslmode=require"

JWT_SECRET="your_high_entropy_256_bit_jwt_access_secret_key"
JWT_EXPIRES_IN="7d"
JWT_REFRESH_SECRET="your_high_entropy_256_bit_jwt_refresh_secret_key"
JWT_REFRESH_EXPIRES_IN="30d"
BCRYPT_SALT_ROUNDS=12

STRIPE_SECRET_KEY="sk_test_..."

# BKASH_APP_KEY="your_app_key"
# BKASH_APP_SECRET="your_app_secret"
# BKASH_USERNAME="your_username"
# BKASH_PASSWORD="your_password"
